mixin advantages__item(img, title, subtitle, descr, classmod='')
	.advantages__item
		img.advantages__icon(class=classmod src="img/advantages/" + img, alt= title)
		.advantages__subtitle #{subtitle}
		.advantages__descr #{descr}

mixin catalog__tab(descr, active='')
	li(class="catalog__tab "+active)
		div #{descr}

mixin catalog-item(img, subtitle, descr, oldPrice, price)
	.catalog-item
		.catalog-item__wrapper 
			.catalog-item__content.catalog-item__content_active
				img.catalog-item__img(src="img/catalog/" + img, alt= "photo")
				.catalog-item__subtitle #{subtitle}
				.catalog-item__descr #{descr}
				a.catalog-item__link(href="#") ПОДРОБНЕЕ
			ul.catalog-item__list
				li Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
				li Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
				li Также Вы увидите информацию о расходе калорий за тренировку;
				li Вы сможете посмотреть данные по 10 тренировкам.
				a(href="#").catalog-item__back НАЗАД
		.catalog-item__footer
			.catalog-item__prices
				.catalog-item__old-price #{oldPrice}
				.catalog-item__price #{price}
			button.catalog-item__btn КУПИТЬ

mixin rewievs-item(img, title, static, descr)
	.rewievs-item
		img.rewievs-item__img(src="img/reviews/" + img, alt= title)
		.rewievs-item__block 
			.rewievs-item__title #{title}
			.rewievs-item__static #{static}
			.rewievs-item__descr !{descr}
